#walrus-showing {
  display: none;
}



.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.test {
  width: 300px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.white-background {
  background-color: white;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.blueText {
  color: blue;
}

.brownText {
  color: brown;
}

.whiteText {
  color: white;
}

.box1 {
  width: 350px;
  height: 500px;
  border: solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;
}

.box2 {
  width: 350px;
  height: 280px;
  border: solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;
}

.box3 {
  width: 350px;
  height: 280px;
  border: solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;
}

.firstPic {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;

}
