#walrus-showing {
  display: none;
}

h1:hover {
  color: red;
  text-align: right;
}

img:hover {
  width: 340px;
  border: solid;
  border-radius: 500px;
}


.changeFont {
  color: orange;
}




button {
  height: 40px;
  margin: auto;
  width: 70px;
  margin-left: 10px;
  font-size: 20px;
}

button.fIn, button.fOut, button.slideD, button.slideU {
  width: 120px;
}

.box {
  margin-left: auto;
  margin-right: auto;
  width: 390px;
  margin-bottom: 20px;
  border: solid;
  padding-left: 10px;
}
.moveB {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}



.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.test {
  width: 300px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.white-background {
  background-color: white;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.blueText {
  color: blue;
}

.brownText {
  color: brown;
}

.whiteText {
  color: white;
}

.box1 {
  width: 350px;
  height: 420px;
  border: solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;
}

.box2 {
  width: 350px;
  height: 300px;
  border: solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;
}

.box3 {
  width: 350px;
  height: 320px;
  border: solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding: 20px;
}

.firstPic {
  width: 300px;

}
